# All the crap cmake generates:
Testing
CMakeFiles
cmake_install.cmake
CTestTestfile.cmake
CMakeLists.txt.user
CMakeCache.txt

# Build files:
Debug
Release
build*
*.a
*.o

# IDE files:
*.swp
.idea
.vscode

# Visual Studio files:
*.vcxproj
*.filters
*.dir
*.sln
*.opensdf
*.sdf
*.suo

# Mercurial:
.hg

# For OSX users:
.DS_Store
